.vagrant
setup/.env.sh

services/.env
services/web/source
services/db/db_data
services/caddy/Caddyfile
services/proxy/log
services/backup/.env
services/fail2ban/.env
services/fail2ban/data
services/restic/repo

data