.vagrant
setup/.env.sh

services/web/source
services/db/db_data
services/proxy/caddy_config
services/proxy/caddy_data
services/proxy/log
services/backup/.env
services/fail2ban/.env
services/fail2ban/data
