writerviet.local

log

basicauth /* {
	HoangTran fasdfasdfasdfasdfasdfsdfasdfMYkF3MFZhZ3VtV3E1SzBWZEZ5Q3VWc0tlkjflkalsdflajdflsdjf
}

handle /demchu/* {
    root * /var/www
    file_server
    encode zstd gzip
}

handle {
    root * /var/www/forum
    file_server {
        hide .*
    }
    encode zstd gzip
    php_fastcgi web:9000
}
