writerviet.local

@static {
    path /demchu/* /data/* /js/* /styles/*
}

header @static Cache-Control max-age=604800

log

basicauth /* {
	HoangTran fasdfasdfasdfasdfasdfsdfasdfMYkF3MFZhZ3VtV3E1SzBWZEZ5Q3VWc0tlkjflkalsdflajdflsdjf
}

handle /demchu/* {
    root * /var/www
    file_server
    encode zstd gzip
}

handle {
    root * /var/www/forum
    file_server {
        hide .*
    }
    encode zstd gzip
    php_fastcgi web:9000
}
